# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.output
.nuxt
.next

# Turbo
.turbo

# Testing
coverage
*.lcov
.nyc_output

# Cache
.cache
.vite
.eslintcache
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Stats
stats.html
